<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SFD-星爆送餐</display-name>
  <welcome-file-list>
    <welcome-file>web/index.html</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>filter.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>member.model.filter.LogFilter</filter-class>
    <init-param>
      <param-name>excludedUrls</param-name>
      <param-value>/LogInServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

<!--  <listener>-->
<!--    <listener-class>listener.DBConnectionListener</listener-class>-->
<!--  </listener>-->
  <listener>
    <listener-class>listener.RequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>order.model.listener.PushOrderListener</listener-class>
  </listener>

  <session-config>
    <session-timeout>30</session-timeout> <!-- 30 分鐘 -->
  </session-config>
</web-app>
